body{
    color: rgb(0, 0, 0);
    background-color: rgba(223, 153, 171, 0.938);
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: antiquewhite;
    text-decoration: none;
}

header img {
    width: 350px;
    height: 450px;
    border-radius: 20%;
    border: 10px coral;
}

.center {
    text-align: center;
}
